$lineLeft: 57%;
$lineTop: 8%;
$lineHeight: 15px;
$play: all .3s ease-in-out;



#VideoSection{
    display: flex;
    // justify-content: space-between;

    .vid-col1{

        button{
            color: black; 
        }
    }

    .vid-col1, .vid-col2{
        flex-basis: 50%;
    }

    .vid-col2 {
        .vid-wrapper{
            padding: 3.4% 0;
            background-color: #000;
        }

        .vid-play-button{
            margin-top: 25.8%;
        }

        .vid-img{
            width: 100%;
        }
        
    }

    h2{
        font-size: 40px;
    }

    p{
        margin: 27px 0;
        font-family: muli;
        line-height: 30px;
        padding-right: 80px;
    }
}

#VideoPlacemarker{
    width: 100%;
    height: 370px;
    background-color: #333;
    position: relative;
    overflow: hidden;

    img{
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .overlay{
        position: absolute;
        background-color: #333;
        height: 100%;
        width: 100%;
        opacity: .7;
        z-index: 0;
        cursor: pointer;
    }

    .playBtn-container{
        position: relative;
        z-index: 1;
        color: white;
        margin: 15.8%;
        height: 50px;
        display: flex;
        justify-content: center;
        // background-color: yellow;


        .line {
            display: inline-block;
            position: absolute;
            width: 1px;
            // height: 30px;
            background-color: white;
            left: $lineLeft;
        }
        
        .circle {
            width: 3pc;
            height: 3pc;
            border: none;
            background: black;
            position: absolute;
            border-radius: 50%;
            transition: $play;

            &:nth-child(2){
                transform: scale(1.5);
                opacity: .5;
            }

            &:nth-child(3){
                transform: scale(2);
                opacity: .2;
            }
        }



        .plybtn{
            position: relative;
            width: 5pc;
            // background: green;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto;
            cursor: pointer;
            transition: $play;

            .line-top{
                top: calc(#{$lineTop} + 15%);
                left: calc(#{$lineLeft} - 4%);
                transform: rotate(124deg);
                height: $lineHeight;
            }
    
            .line-bottom{
                top: calc(#{$lineTop} + 35%);
                left: calc(#{$lineLeft} - 1%);
                transform: rotate(62deg);
                height: calc(#{$lineHeight} - 8px);
            }
    
            .line-end{
                top: calc(#{$lineTop} + 24%);
                left: calc(#{$lineLeft} - 12%);
                height: $lineHeight
            }
        }

    }

    .overlay:hover + .playBtn-container, .playBtn-container:hover{

        .plybtn{
            transform: scale(1.3);
        }
        
        .circle{
            &:nth-child(1){
                transform: scale(1.5);
                opacity: .7;
            }

            &:nth-child(2){
                transform: scale(2);
                opacity: .2;
            }

            &:nth-child(3){
                transform: scale(2.5);
                opacity: .1;
            }
        }
    }




    .vidPlayer-wrapper{
        width: 100%;
        height: 100%;
    }
}






// xs=540px	 s=720px	md=960px	lg=1140px
@media only screen and (max-width: 960px) {
    #VideoSection{
        .vid-col1{
            text-align: center;
            
            button{
                margin: 0 auto;
            }
        }

        h2{
            font-size: 2rem;
        }
    
        p{
            padding-right: initial;
        }
    }
}