.StylersSection{
    padding: 6pc 0;

    .stylistsCards{
        // display: flex;
        // justify-content: space-between;
    }

    .card{
        display: inline-block;
        width: 18pc;
        height: 24pc;
        background-color: blue;
    }
    
    .positionRelative{
        position: relative;
        height: 100%;
        background: pink;
        display: flex;
        justify-content: center;

        img{
            width: 100%;
            object-fit: cover;
        }
    }

    
    
    .cardTitle {
        bottom: -18px;
        position: absolute;
        width: 9pc;
    
        .bkg{
            width: 100%;
            background: black;
            height: 45px;
            position: relative;
            bottom: -40px;
            z-index: 0;
        }
    
        h5{
            text-align: center;
            z-index: 1;
            position: relative;
            color: white;
        }
    
        p{
            font-size: 12px;
            position: relative;
            color: white;
            text-align: center;
        }
    }
}









// xs=540px	 s=720px	md=960px	lg=1140px
@media only screen and (max-width: 1300px) {

    .StylersSection{
        .card{
            width: 15pc;
            height: 21pc;
        }
    }
}


@media only screen and (max-width: 960px) {

    .StylersSection{
        text-align: center;
        .card{
            width: 18pc;
            height: 24pc;
            
            &:not(:first-child){
                margin-top: 15pc;
            }
        }
    }
}


