$overlap: 100;

.product-services-wrapper{
    position: relative;
    height: 500px;
}

.walkwayBkg{
    background-image: url('pkWalkWay.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -81px;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    filter: grayscale(100%) blur(1px) opacity(0.08) contrast(126%);
    -webkit-filter: grayscale(100%) blur(1px) opacity(0.08) contrast(126%);
}



#menu-overlay{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: black;
    // opacity: .5;
    color: white;
    border-radius: 50%;
    z-index: $overlap;
    top:0;
    right: 0;
}


#menu-overlay-content-wrapper{
    position: fixed;
    width: 100%; 
    // height: 90px;
    left: 50%;
    z-index: $overlap + 1;
    top: 25%;
    transform: translate(-40vw, 0%);
    // background-color: deeppink;
    // padding: 5px;
    
    ul{
        list-style: none;
        width: 480px;
        // background-color: darkgreen;
        margin: 0 auto;
        text-align: justify;
        
        li{
            color: white;
            overflow: hidden;

            a{
                // display: block;
                color: white;
                text-decoration: none;
                font-size: 38px;
                padding: 5px;
                line-height: 2em;
                letter-spacing: 10px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
}


#close-menu{
    position: fixed;
    width: 40px;
    height: 40px;
    // background-color: red;
    z-index: $overlap + 1;
    top: 25px;
    right: 6pc;
    // opacity: .5;
    // transform-origin: 1px;
    cursor: pointer;


    span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: rotate(39deg) translate(12px, 15px);
        border-radius: 5px;

        &::after{
            display: block;
            content: '';
            width: 40px;
            height: 2px;
            background-color: white;
            top: 15pc;
            transform: rotate(103deg) translate(-1px, 0px);
            border-radius: 5px;

        }
    }
}










// xs=540px	 s=720px	md=960px	lg=1140px
@media only screen and (max-width: 960px) {
    .product-services-wrapper{
        height: 60pc;
    }

    .walkwayBkg{
        height: 40pc;
        box-shadow: 25px 25px 50px 0 white inset, -25px -90px 50px 0 white inset;
    }
}