@mixin font($font-family, $font-file) {
  
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.ttf') format('truetype');
    
    @if ($font-file == 'CandelionBold') {
      src: url($font-file+'.otf') format('opentype');
    }
  }
  
}


@include font('CinzelRegular', './fonts/Cinzel/static/Cinzel-Regular');
@include font('CinzelBold', './fonts/Cinzel/static/Cinzel-Bold');
@include font('CandelionBold', './fonts/candelion-script/Candelion bold');
@include font('CandelionRegular', './fonts/candelion-script/Candelion regular');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: CinzelRegular;
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  font-family: CinzelRegular;
}

.Page{
  min-height: 48vh;
}