@font-face {
  font-family: CinzelRegular;
  src: url(fonts/Cinzel/static/Cinzel-Regular.ttf);
  /* font-weight: bold; */
}

@font-face {
  font-family: CinzelBold;
  src: url(fonts/Cinzel/static/Cinzel-Bold.ttf)
}

@font-face {
  font-family: CandelionBold;
  src: url(fonts/candelion-script/Candelion\ bold.otf);
  /* font-weight: bold; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: CinzelRegular;
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}